@media (max-width: 1200px) {

    .header-content {
        width: 80%;
    }

    .offers-gallery {
        grid-gap: 15px;
    }

    .gallery-item__size1 {
        width: 100%;
    }

    .gallery-item__size2 {
        width: 100%;
    }

    .gallery-item__size3 {
        width: 100%;
    }

    .holder_bu_awayL1,
    .holder_bu_center,
    .holder_bu_awayR1 {
        width: 50%;
    }

    .app-text {
        padding: 0;
        width: 65%;
    }

    .app-phone {
        width: 35%;
        justify-content: unset;
    }

    .navbar-nav li {
        padding: 20px 0;
    }

    .prod-itm-offer {
        font-size: 28px;
        width: 30%;
    }

    .prod-itm-offer--save__val {
        font-size: 36px;
    }

    .restaurant-gallery-item .imp-img {
        height: 200px;
    }

    #regPopUp-modal .popup-body,
    #signPopUp-modal .popup-body{
        width: 80%;
    }

    .popup-title {
        font-size: 40px;
    }
}

@media (max-width: 991px) {
    .btn {
        font-size: 12px;
    }

    .header-title {
        font-size: 54px;
    }

    .header-title__sub {
        font-size: 18px;
    }

    .offers-gallery {
        grid-gap: 10px;
    }

    .navbar-nav li {
        padding: 15px 0;
        margin: 0;
        font-size: 13px;
    }

    .to-store-wrapper {
        width: 30%;
    }

    .header-top-form {
        width: 25%;
    }

    .offer-content {
        height: auto;
    }

    .section-text {
        margin-bottom: 20px;
    }

    .offer-btn .btn{
        width: 50%;
    }

    .offer {
        margin-bottom: 50px;
    }

    .categories-nav-itm {
        width: 30%;
        padding: 10px;
    }

    .categories-nav {
        margin: 40px 0;
    }

    .categories-section .imp-img {
        height: 180px;
    }

    .blog-sidebar {
        margin-bottom: 40px;
        padding-right: 0;
    }

    .categories-section .search-result-itm {
        height: 260px;
    }

    .chat {
        display: none;
    }

    .prod-itm-content {
        height: 250px;
    }

    .prod-itm-info{
        width: 65%;
    }

    .prod-itm-img {
        width: 35%;
    }

    .prod-itm-offer {
        font-size: 26px;
    }

    .prod-itm-offer--save__val {
        font-size: 30px;
    }

    .about-info-content .app-phone {
        width: 40%;
    }

    .sl-slider-itm--info .btn {
        width: 50%;
    }

    .sidebar-text .btn {
        width: 50%;
    }

    .restaurant-gallery-item .imp-img {
        height: 150px;
    }

    .restaurant-gallery-item  .btn-imp {
        width: 80%;
    }

    .recommend-item {
        width: 360px;
    }

    .popup-body {
        width: 80%;
    }

    .by-popup .offer-item {
        margin: 0 15px;
        width: 250px;
    }

    .popup-title {
        width: 80%;
    }

    #regPopUp-modal .popup-body,
    #signPopUp-modal .popup-body{
        width: 80%;
    }

    .popup-body .sing-link {
        width: 80%;
    }

    .popup-body .sign-form {
        width: 60%;
    }
}

@media (max-width: 769px) {
    .page-nav {
        margin: 15px 0 25px 0;
    }

    .navbar-nav li {
        font-size: 13px;
        padding: 10px 0;
    }

    .btn-header,
    .btn-gradient {
        width: 180px;
    }

    .section-title {
        font-size: 34px;
    }

    .offer-text--title {
        margin-bottom: 5px;
    }

    .section-text {
        font-size: 18px;
    }

    .header-top-form {
        width: auto;
        flex-grow: 1;
    }

    .header-title {
        font-size: 36px;
    }

    .header-title__sub {
        font-size: 16px;
    }

    .app-text {
        width: 53%;
    }

    .app-title {
        font-size: 26px;
        text-align: center;
    }

    .app-title__sub {
        font-size: 16px;
    }

    .app-phone {
        width: 47%;
        display: flex;
        justify-content: center;
    }

    .app-phone img {
        transform: scale(0.85);
    }

    .app-content {
        height: auto;
        padding: 50px 0;
    }

    .offer-content {
        flex-direction: column;
    }

    .offer-text {
        order: 2;
        width: 100%;
    }
    
    .offer-text--title__sub {
        text-align: unset;
        margin-top: 10px;
        padding: 0 10px;
    }

    .offer-text--title {
        margin-top: 15px;
    }
    
    .offer-btn {
        text-align: center;
    }

    .offer-img {
        order: 1;
        width: 100%;
    }

    .footer-list {
        min-height: 140px;
    }

    .works-video video {
        width: 100%;
    }

    .offers-gallery {
        grid-gap: 20px;
    }

    .gallery-item {
        height: 164px;
        width: 100%;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        overflow: hidden;
    }

    .gallery-item--1 {
        grid-column: 1;
        grid-row: 1;
    }

    .gallery-item--2 {
        grid-column: 2;
        grid-row: 1;
    }

    .gallery-item--3 {
        grid-column: 1;
        grid-row: 2;
        height: 356px;
    }

    .gallery-item--4 {
        grid-column: 2;
        grid-row: 2;
    }

    .gallery-item--5 {
        grid-column: 1;
        grid-row: 3;
    }

    .gallery-item--6 {
        grid-column: 2/3;
        grid-row: 3;
    }

    .gallery-item--7 {
        grid-column: 1;
        grid-row: 4;
    }

    .gallery-item--8 {
        grid-column: 2;
        grid-row: 4;
    }

    .gallery-item__size1,
    .gallery-item__size2,
    .gallery-item__size3{
        width: 100%;
        height: 200px;
    }

    .categories-nav {
        margin: 15px 0;
    }
    
    .categories-nav__current {
        text-align: center;
        font-size: 20px;
        margin-bottom: 25px;
    }

    .categories-section .imp-img {
        height: 200px;
    }

    .categories-nav-itm {
        width: 60px;
        height: 60px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .categories-nav i {
        display: block;
        font-size: 1.8em;
    }

    .categories-nav span {
        display: none;
    }

    .categories-nav__current {
        display: block;
    }

    .categories-section .search-result-itm {
        height: 280px;
    }

    .comments-footer {
        flex-direction: column;
    }

    .p-author {
        margin-bottom: 20px;
    }

    .comments-title {
        margin-bottom: 20px;
    }

    .comments-img {
        width: 65px;
        height: 65px;
    }

    .comments-name {
        margin-bottom: 5px;
    }

    .comments-name {
        font-size: 16px;
    }

    .comments-msg {
        font-size: 14px;
    }

    .blog-sidebar-itm {
        margin-top: 15px;
    }

    .about-info-content .app-phone {
        width: 50%;
    }

    .about-info-content {
        padding: 20px 0;
        margin: 0 0 20px 0;
    }

    .sign-img {
        display: none;
    }

    .search-itm {
        flex-direction: column;
        height: 400px;
    }

    .search-itm--img {
        width: 100%;
    }

    .search-itm--info {
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }

    .search-result-list {
        margin-bottom: 35px;
    }

    .big-sub-content {
        flex-direction: column;
    }

    .big-sub-info {
        width: 100%;
    }

    .big-sub-info--title {
        text-align: center;
        margin-bottom: 25px;
    }

    .big-sub-from {
        margin-top: 35px;
        width: 70%;
        align-self: center;
    }

    .sl-slider-itm {
        flex-direction: column-reverse;
    }

    .sl-slider-itm--info {
        width: 100%;
        margin-top: 20px;
    }

    .sl-slider-itm--img {
        width: 100%;
    }

    .sl-slider-itm--info .btn {
        margin-top: 30px;
        align-self: center;
    }

    .sl-prev {
        left: 5px;
    }

    .sl-next {
        right: 5px;
    }

    .how-block-img {
        height: auto;
    }

    .how-block-img img {
        height: inherit;
    }

    .sidebar-text .btn {
        width: 60%;
    }

    .prod-itm-content {
        flex-direction: column-reverse;
        height: auto;
        margin-bottom: 30px;
    }

    .prod-itm-info {
        width: 100%;
        margin-top: 20px;
    }

    .prod-itm-text {
        width: 75%;
    }

    .prod-itm-img {
        width: 100%;
        height: 300px;
    }

    .prod-itm-btn {
        margin: 0;
    }

    .restaurant-gallery {
        grid-gap: 15px;
    }

    .restaurant-info {
        margin-top: 50px;
    }

    .contacts-name {
        font-size: 16px;
        width: 115px;
        margin-right: 10px;
    }

    .restaurant-all {
        margin: 35px 0;
    }

    .offer-item-price {
        margin: 15px 0;
    }

    .restaurant-contacts {
        width: 65%;
    }

    .restaurant-vauchers {
        width: 35%;
    }

    .recommend-item {
        width: 300px;
    }

    .imp-img {
        height: 220px;
    }

    .popup-title {
        font-size: 34px;
    }

    .popup-body .sing-link {
        width: 80%;
    }

    .popup-body .sign-form {
        width: 70%;
    }
}

@media (max-width: 710px) {
    .restaurant-gallery {
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    .restaurant-gallery-item .imp-img {
        height: 220px;
    }

    .restaurant-contacts {
        width: 100%;
    }

    .restaurant-vauchers {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .restaurant-info {
        flex-direction: column;
    }

    .offer-item {
        width: 50%;
    }

    .vauchers-item {
        margin: 0 10px 25px 10px;
        padding: 10px 20px ;
    }

    .by-popup .offer-item {
        margin: 0 10px;
        width: 220px;
    }

    .popup-body {
        width: 90%;
    }

    .popup-title {
        font-size: 30px;
    }

    .popup-body .sign-content {
        padding: 60px 10px;
    }
}

@media (max-width: 550px) {
    .offer-item .btn {
        width: 85%;
    }

    .restaurant-offer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .by-popup .offer-item {
        width: 80%;
        padding: 10px;
        margin: 10px 0;
    }

    .by-popup .popup-title {
        margin-bottom: 20px;
    }

    .by-popup .popup-title {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .navbar-nav {
        justify-content: flex-start;
    }

    .header-top {
        height: auto;
        flex-wrap: wrap;
        padding: 5px 0;
    }

    .header-top-form {
        order: 2;
        width: 100%;
        margin: 20px 0;
        display: flex;
        justify-content: center;
    }

    .header-top-input {
        width: 90%;
    }

    .section-title {
        font-size: 24px;
        text-align: center;
    }

    .section-text {
        font-size: 16px;
        text-align: center;
    }

    .header-content {
        width: 100%;
    }

    .header-title {
        font-size: 26px;
    }

    .header-top--logo {
        width: 50px;
        height: 50px;
    }

    .header-top--logo a {
        height: inherit;
    }

    .app-content {
        flex-wrap: wrap;
    }

    .app-text {
        width: 100%;
    }

    .app-phone {
        width: 100%;
    }

    .app-phone img {
        transform: scale(1);
    }

    .offer-text--title__sub {
        text-align: unset;
    }

    .footer-share__app {
        flex-direction: row;
        justify-content: space-around;
    }

    .gallery-item__size1,
    .gallery-item__size2,
    .gallery-item__size3{
        width: 100%;
        height: 150px;
    }

    .offers-gallery {
        grid-gap: 15px;
    }

    .holder_bu_awayL1, .holder_bu_center, .holder_bu_awayR1 {
        width: 100%;
        left: 0;
    }

    .holder_bu_awayR1,
    .holder_bu_awayL1,
    .holder_bu_awayR1,
    .holder_bu_center{
        opacity: 1;
        background-color: #fff;
        top: 0;
        overflow: hidden;
    }

    .categories-section .imp-img {
        height: 150px;
    }

    .categories-section .search-result-itm {
        height: 240px;
    }

    .comments-img {
        width: 65px;
        height: 55px;
    }

    .comments-block {
        padding: 0;
    }

    .comments-text {
        margin-left: 10px;
    }

    .comments-arr {
        margin-bottom: 30px;
    }

    .p-author-img {
        width: 80px;
        height: 80px;
    }

    .p-author-info {
        margin-left: 15px;
    }

    .comments-footer-share .footer-share {
        margin-top: 20px;
    }

    .about-info-content .app-phone {
        width: 100%;
    }

    .about-info-content .app-text {
        width: 100%;
        margin-top: 20px;
    }

    .recommend {
        margin-bottom: 0;
    }

    .sing-link {
        font-size: 24px;
    }

    .top-place-itm--sub {
        flex-direction: column;
    }

    .page-main-content {
        padding: 0;
    }

    .map {
        margin-top: 20px;
    }

    .map-title {
        font-size: 32px;
    }

    .map-title__sub {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .big-sub-from {
        width: 90%;
    }

    .big-sub-from--title {
        font-size: 20px;
    }

    .search-itm--info__title {
        margin-bottom: 10px;
    }

    .page-main-content {
        margin-bottom: 20px;
    }

    .sidebar-text .btn {
        width: 100%;
    }

    .prod-itm-info {
        flex-direction: column;
    }

    .prod-itm-text {
        width: 100%;
    }

    .prod-itm-offer {
        width: 100%;
        text-align: center;
        margin-top: 10px;
    }

    .prod-itm-offer--save__text {
        display: inline;
    }

    .prod-itm-offer--save__val {
        display: inline;
        font-size: 40px;
    }

    .restaurant-gallery-item .imp-img {
        height: 200px;
    }

    .offer-item .btn {
        width: 90%;
    }

    .categories-nav-itm {
        width: 45px;
        height: 45px;
    }

    .recommend-slider .slick-track {
        padding: 35px 0 10px 0;
    }

    .recommend-slider-wrap {
        margin-bottom: 20px;
    }

    .app {
        margin-bottom: 50px;
    }

    .prod-itm-btn {
        text-align: center;
    }

    .popup-body .sign-form {
        width: 90%;
    }
}

@media (max-width: 400px) {
    .restaurant-gallery {
        grid-gap: 15px;
    }

    .restaurant-gallery-item .imp-img {
        height: 160px;
    }

    .rec-slider-control .sl-next {
        right: 1%;
    }

    .rec-slider-control .sl-prev {
        left: 1%;
    }

    .popup-body .sing-link {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .categories-section .search-result-itm {
        height: 250px;
    }

    .p-author-img {
        height: 60px;
    }

    .prod-itm-img {
        height: 250px;
    }

    .offer-item .btn {
        width: 100%;
        font-size: 11px;
    }

    .slick-center {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
    }

    .by-popup .offer-item {
        width: 80%;
        padding: 5px 10px;
        margin: 10px 0;
    }

    #signPopUp-modal .sign-content{
        padding: 15px 10px;
    }
}

@media screen and (orientation:landscape) {
    .header {
        height: auto;
    }

    .header-content {
        height: auto;
        margin-top: 20px;
        padding: 30px 0;
    }

}

@media (max-width: 700px) and (orientation:landscape) {
    .chat {
        height: 100%;
    }

    textarea.chat-input {
        height: 60px;
    }

    .mfp-container {
        height: auto;
    }
}