@media (max-width: 1200px) {

    .header-content {
        width: 80%;
    }

    .offers-gallery {
        grid-gap: 15px;
    }

    .gallery-item__size1 {
        width: 100%;
    }

    .gallery-item__size2 {
        width: 100%;
    }

    .gallery-item__size3 {
        width: 100%;
    }

    .holder_bu_awayL1,
    .holder_bu_center,
    .holder_bu_awayR1 {
        width: 50%;
    }

    .app-text {
        padding: 0;
        width: 65%;
    }

    .app-phone {
        width: 35%;
        justify-content: unset;
    }

    .navbar-nav li {
        padding: 30px 0;
    }
}

@media (max-width: 991px) {
    .btn {
        font-size: 12px;
    }

    .header-title {
        font-size: 54px;
    }

    .header-title__sub {
        font-size: 18px;
    }

    .offers-gallery {
        grid-gap: 10px;
    }

    /*.nav-item {*/
        /*padding: 30px 20px;*/
        /*font-size: 13px;*/
    /*}*/

    .navbar-nav li {
        padding: 15px 0;
        margin: 0;
    }

    .to-store-wrapper {
        width: 30%;
    }

    .header-top-form {
        width: 25%;
    }

    .offer-content {
        height: auto;
    }

    .section-text {
        margin-bottom: 20px;
    }

    .offer-btn .btn{
        width: 50%;
    }

    .offer {
        margin-bottom: 50px;
    }
}

@media (max-width: 769px) {
    /*.nav-item {*/
        /*padding: 25px 10px;*/
        /*margin: 0 10px;*/
    /*}*/

    .navbar-nav li {
        font-size: 13px;
        padding: 10px 0;
    }

    .btn-header,
    .btn-gradient {
        width: 180px;
    }

    .section-title {
        font-size: 34px;
    }

    .offer-text--title {
        margin-bottom: 5px;
    }

    .section-text {
        font-size: 18px;
    }

    .header-top-form {
        width: auto;
        flex-grow: 1;
    }

    .header-title {
        font-size: 36px;
    }

    .header-title__sub {
        font-size: 16px;
    }

    .app-text {
        width: 53%;
    }

    .app-title {
        font-size: 26px;
        text-align: center;
    }

    .app-title__sub {
        font-size: 16px;
    }

    .app-phone {
        width: 47%;
    }

    .app-phone img {
        transform: scale(0.85);
    }

    .offer-content {
        flex-direction: column;
    }

    .offer-text {
        order: 2;
        width: 100%;
    }
    
    .offer-text--title__sub {
        text-align: unset;
        margin-top: 10px;
    }

    .offer-text--title {
        margin-top: 15px;
    }
    
    .offer-btn {
        text-align: center;
    }

    .offer-img {
        order: 1;
        width: 100%;
    }

    .footer-list {
        min-height: 140px;
    }

    .works-video video {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .header-top {
        height: auto;
        flex-wrap: wrap;
        padding: 5px 0;
    }
    
    .header-top-form {
        order: 2;
        width: 100%;
        margin: 20px 0;
        display: flex;
        justify-content: center;
    }

    .header-top-input {
        width: 90%;
    }

    .section-title {
        font-size: 24px;
        text-align: center;
    }

    .section-text {
        font-size: 16px;
        text-align: center;
    }

    .header-content {
        width: 100%;
    }

    .header-title {
        font-size: 26px;
    }

    .header-top--logo {
        width: 60px;
        height: 60px;
    }

    .header-top--logo a {
        height: 60px;
    }

    .app-content {
        height: 100vh;
        flex-wrap: wrap;
    }

    .app-text {
        width: 100%;
    }

    .app-phone {
        width: 100%;
    }

    .app-phone img {
        transform: scale(1);
    }

    .recommend {
        margin-bottom: 90px;
    }

    .footer-share__app {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (max-width: 480px) {

}