body {
    font-family: Raleway,Arial,sans-serif;
}

/*header start*/

*{
    outline: none !important;
}

.nav>li>a {
    padding: 10px 5px;
}

.header {
    background: url('../assets/images/bg-header.png') no-repeat;
    -webkit-background-size:  cover;
    background-size:  cover;
    height: 100vh;
    min-height: 500px;
    position: relative;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #8885c5 , #5b65d8);
    opacity: 0.8;
    z-index: 0;
}

.header-top {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 10px 0;
}

.header-top--logo {
    width: 65px;
    height: 65px;
}

.header-top--logo a {
    height: inherit;
}

.header-top--logo img {
    width: 100%;
    height: inherit;
    object-fit: contain;
}

.to-store-wrapper {
    width: 35%;
    display: flex;
    justify-content: center;
}

.to-store {
    display: inline-block;
    margin: 0 10px;
}

.to-store img {
    width: 100%;
}

.header-top-form {
    width: 30%;
    margin: 0 10px;
}

.header-top-input {
    width: 100%;
    padding: 4px 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    outline: none;
    font-size: 12px;
    font-weight: 300;
    color: #707070;
    border: 1px solid #bfbfbf;
}

.header-right {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.lang {
    text-transform: capitalize;
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 15px;
    font-size: 12px;
    font-weight: 400;
}

.lang:hover {
    text-decoration: none;
    color: #fff;
}

.lang div {
    display: inline-block;
}

.lang-separator {
    height: 12px;
    width: 1.5px;
    background-color: #fff;
    margin: 0 3px;
}

.login {
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none !important;
}

.login i {
    margin-right: 5px;
}

.login:hover,
.login:visited {
    text-decoration: none;
    color: #fff;
}

.navbar-wrapper {
    position: relative;
    z-index: 1;
    background-color: #fff;
}

.icon-bar {
    background-color: #fff;
}

.navbar {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    margin: 0;
    border: none;
    min-height: 0;
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.navbar-nav li {
    margin: 0 10px;
    padding: 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.navbar-nav li a{
    color: #000 !important;
    background-color: transparent !important;
}

/*.nav-item {*/
    /*margin: 0 10px;*/
    /*padding: 30px 34px;*/
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
    /*color: #000;*/
    /*font-size: 14px;*/
    /*font-weight: 600;*/
/*}*/

.nav-item.current {
    font-weight: 700;
}

.nav-item:hover {
    text-decoration: none;
    color: #000;
}

.header-content {
    position: relative;
    z-index: 1;
    width: 55%;
    color: #fff;
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-title {
    font-size: 64px;
    font-weight: 600;
    line-height: 1em;
}

.header-title__sub {
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
}

.btn {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
    padding: 10px 15px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    outline: none;
}

.btn-header {
    width: 35%;
    margin-top: 50px;
    background-color: #663399;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    grid-column: 1;
    grid-row: 3;
    color: #fff;
}

.btn-header:active {
    background-color: #7e40bd;
}

.header__min .navbar-wrapper{
    background: linear-gradient(to left, #8885c5 , #5b65d8);
}

.header__min .nav-item {
    color: #fff !important;
}

.header__min .lang {
    color: #000;
}

.header__min .lang-separator {
    background-color: #000;
}

.header__min .login {
    color: #000;
}

.header__min .icon-bar {
    background-color: #5b65d887;
}

  /************/
 /*header end*/
/************/

.section-title {
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.1em;
}

.section-text {
    font-size: 20px;
    font-weight: 400;
}

.section-text__centred {
    max-width: 70%;
    text-align: center;
}

.offers {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 70px 0;
}

.offers-title-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-img {
    height: 100%;
}

.gallery-img a {
    height: inherit;
}

.gallery-img a img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.offers-gallery {
    display: grid;
    /*grid-template-columns: repeat(1, 1fr);*/
    /*grid-template-rows: repeat(1,1fr);*/
    grid-gap: 25px;
    margin: 30px 0 40px 0;
}

.gallery-item {
    height: 164px;
    width: 100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.gallery-item--1 {
    grid-column: 1;
    grid-row: 1;
}

.gallery-item--2 {
    grid-column: 2/4;
    grid-row: 1;
}

.gallery-item--3 {
    grid-column: 4/7;
    grid-row: 1/3;
    height: 356px;
}

.gallery-item--4 {
    grid-column: 7;
    grid-row: 1;
}

.gallery-item--5 {
    grid-column: 8;
    grid-row: 1;
}

.gallery-item--6 {
    grid-column: 1/3;
    grid-row: 2;
}

.gallery-item--7 {
    grid-column: 3;
    grid-row: 2;
}

.gallery-item--8 {
    grid-column: 7/9;
    grid-row: 2;
}

.gallery-item__size1 {
    width: 164px;
}

.gallery-item__size2 {
    width: 263px;
}

.gallery-item__size3 {
    width: 350px;
}


.gallery-btn {
    display: flex;
    justify-content: center;
}

.btn-gradient {
    background:linear-gradient(90deg,#5b65d8,#8885c5);
    color: #fff;
    width: 30%;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.works-section {
    margin-bottom: 70px;
}

.works {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.works-video {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.works-video video {
    width: 80%;
    height: 1%
}

.app {
    background: url('../assets/images/bg2.jpg') no-repeat center;
    position: relative;
    background-size: cover;
    margin: 100px 0;
}

.app-content {
    position: relative;
    z-index: 2;
    height: 350px;
    display: flex;
    align-items: center;
}

.app-text {
    color: #fff;
    width: 50%;
    padding: 0 100px;
}

.app-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2em;
}

.app-title__sub {
    margin-top: 35px;
}

.app-phone {
    width: 50%;
    display: flex;
    justify-content: center;
}

.app-phone-img {
    position: relative;
    border-radius: 30px;
    overflow: hidden;
}

.to-store__app {
    position: absolute;
    left: 50%;
    width: 50%;
    margin: 0;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.to-is__app {
    top: 45%
}

.to-pm__app {
    top: 55%;
}

.offer {
    margin-bottom: 100px;
}

.offer-content {
    display: flex;
    align-items: center;
    height: 375px;
}

.offer-text {
    width: 40%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


.offer-text--title {
    margin-bottom: 0;
}

.offer-img {
    width: 60%;
    height: inherit;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.offer-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.recommend {
    margin-bottom: 70px;
}

.recommend-content {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.slider {
    position: relative;
    width: 100%;
    height: 415px;
}

.recommend-img img {
    width: 100%;
}

.imp {
    margin-bottom: 70px;
}

.section-title__imp {
    text-align: center;
}

.section-text__imp {
    text-align: center;
    margin-bottom: 40px;
}

.imp-content {
    display: flex;
}

.imp-item {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.imp-item:nth-child(2) {
    margin: 0 30px;
}

.imp-img {
    height: 268px;
    position: relative;
}

.imp-img img{
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.imp-text {
    padding: 15px;
    background-color: #fff;
}

.imp-text--title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.imp-text--title__sub {
    font-size: 14px;
    font-weight: 400;
    height: 37px;
    overflow: hidden;
}

.imp-item:hover .imp-mask{
    opacity: 0.8;
}

.imp-item:hover .btn-imp {
    opacity: 1;
}

.imp-mask {
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn-imp {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.btn-imp:active {
    background-color: #fffc;
}

.footer {
    background-color: #333333;
    padding: 40px 0;
}

.footer-list-item {
    color: #fff;
    margin: 5px 0;
    font-size: 12px;
}

.footer-list-item a{
    color: #fff;
    text-decoration: none;
}

.footer-list-item__title {
    margin-bottom: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.footer-share {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.share-item {
    width: 35px;
    height: 35px;
    font-size: 20px;
    background-color: #fff;
    color: #333333;;
    text-decoration: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 18px;
}

.share-item:last-child {
    margin-right: 0;
}

.share-item:hover {
    text-decoration: none;
    color: #333333;
}

.footer-share__app {
    flex-direction: column;
    align-items: flex-end;
}

.footer-share__app a {
    margin-top: 20px;
}

.copyright {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #1f1f1f;
}


/*production page*/

.production-page-content {
    position: relative;
    margin-top: 30px;
}

.production-filter-wrapper {
    position: relative;
    width: 360px;
    margin: 30px 0;
}

.production-filter {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.production-filter > option:first-child {
    display: none;
}

.form-element {
    width: 100%;
    padding: 8px 12px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    color: #707070;
    border: 1px solid #bfbfbf;
}

.select-arrow {
    position: absolute;
    z-index: 1;
    right: 3%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.select-arrow img {
    width: 100%;
}

.prod-itm {
    margin-bottom: 70px;
}

.prod-itm-content {
    display: flex;
    height: 250px;
}

.prod-itm-btn .btn-gradient {
    width: 200px;
}

.prod-itm-info {
    width: 70%;
    display: flex;
    align-items: center;
}

.prod-itm-title {
    font-size: 28px;
    font-weight: 600;
    color: #000 !important;
    text-decoration: none !important;;
}

.prod-itm-category {
    font-size: 16px;
    font-weight: 300;
    color: #8b94e4;
    margin: 15px 0;
}

.prod-itm-descr {
    font-size: 20px;
    font-weight: 400;
    color: #747e80;
}

/*.prod-itm-price {*/
    /*margin: 0 40px;*/
    /*width: 50%;*/
    /*align-self: center;*/
    /*background: -webkit-linear-gradient(#5c66d7, #8784c5);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
/*}*/

/*.price-value__old {*/
    /*display: inline-block;*/
    /*position: relative;*/
    /*background: -webkit-linear-gradient(#5c66d7, #8784c5);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    /*font-size: 28px;*/
    /*font-weight: 700;*/
    /*margin-bottom: 10px;*/
/*}*/

/*.price-value__old > .cross-line {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 3px;*/
    /*background-color: #8381c7;*/
    /*-webkit-transform: translateY(-50%);*/
    /*-moz-transform: translateY(-50%);*/
    /*-ms-transform: translateY(-50%);*/
    /*-o-transform: translateY(-50%);*/
    /*transform: translateY(-50%);*/
    /*top: 54%;*/
    /*display: none;*/
/*}*/

/*.price-value {*/
    /*font-size: 51px;*/
    /*font-weight: 700;*/
/*}*/

/*.prod-itm-price {*/
    /*line-height: 1;*/
/*}*/

/*.price-value__save {*/
    /*font-size: 24px;*/
    /*background: -webkit-linear-gradient(#5c66d7, #8784c5);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
/*}*/

/*.price-value__val--cur {*/
    /*font-size: 40px;*/
    /*display: inline;*/
    /*background: -webkit-linear-gradient(#5c66d7, #8784c5);*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
/*}*/

.prod-itm-offer {
    width: 25%;
    margin: 0 20px;
    background: -webkit-linear-gradient(#5c66d7, #8784c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}

.prod-itm-text {
    width: 70%;
}

.prod-itm-offer--save__val {
    font-size: 42px;
}

.prod-itm-img {
    width: 30%;
    align-self: flex-end;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    height: inherit;
}

.prod-itm-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.prod-itm__last {
    margin-bottom: 100px;
}

.prod-itm__last .prod-itm-img {
    display: none;
}

.chat {
    width: 300px;
    background: linear-gradient(#5b65d8, #8785c5);
    padding: 12px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 5%;
    bottom: 5px;
    z-index: 999;
    display: none;
}

.chat-toggle {
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 999;
    display: none;
}

.chat-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-logo {
    width: 35px;
}

.chat-logo img {
    width: 100%;
}

.chat-control {
    display: flex;
    align-items: center;
}

.chat-control div {
    cursor: pointer;
}

.chat-lang {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 5px;
    margin-right: 10px;
}

.chat-close {
    padding: 5px;
}

.chat-close img {
    width: 100%;
}

.chat-form {
    width: 100%;
    padding: 7px;
    background-color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.chat-phrase {
    margin: 10px 0;
}

.chat-phrase--author {
    font-weight: 500;
}

.chat-phrase--text {
    font-weight: 300;
}

.chat-input {
    resize: none;
    font-weight: 300;
}

.btn-chat {
    display: inline-block;
    background-color: #7db9ff;
    color: #fff;
    width: 50%;
    margin: 0 auto;
    margin: 5px 0;
    padding: 5px 0;
}

.chat-footer {
    border-top: 1px solid #bdbce1;
    width: 100%;
    text-align: center;
}

.chat-footer--title {
    font-weight: 600;
    color: #fff;
    margin: 4px 0;
}

.chat-footer-contorl {
    display: flex;
    justify-content: space-evenly;
}

.chat-footer-btn {
    display: none;
}

.chat-question {
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}

.chat-footer-btn:checked + .chat-question {
    color: #7db9ff;
}

/*blog page*/
.section-title__blog {
    margin: 0;
}

.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
}

.pagination li {
    width: 22px;
    height: 22px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .current {
    border: 1px solid #8885c5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.pagination-control,
.pagination-control:hover,
.pagination-control:focus {
    color: #000;
    text-decoration: none;
}

.pagination-control img{
    width: 10px;
    height: 20px;
}

.pagination-next img {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.page-nav {
    display: flex;
    margin: 30px 0 40px 0;
    padding-left: 18px;
    font-weight: 400;
}

.page-nav-separator {
    margin: 0 2px;
}

.page-cur {
    color: #8b94e4;
}

.page-nav-search {
    font-weight: 500;
    margin-left: 1pt;
}

.page-nav-search:before {
    content: open-quote;
}

.page-nav-search:after {
    content: close-quote;
}

.blog-sidebar {
    padding: 20px;
    padding-top: 0;
}

.blog-sidebar--title {
    font-size: 22px;
    font-weight: 400;
}

.blog-sidebar-itm-list {
    max-height: 385px;
    overflow-y: scroll;
    padding-right: 5px;
}

.blog-sidebar-itm-list::-webkit-scrollbar {
    width: 5px
}

.blog-sidebar-itm-list::-webkit-scrollbar-track {
    background-color: #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.blog-sidebar-itm-list::-webkit-scrollbar-thumb {
    background-color: #8b94e4;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.blog-sidebar-itm-list::-webkit-scrollbar-thumb:hover {
    background-color: #8b94e4;
    cursor: pointer;
}

.blog-sidebar-itm {
    display: flex;
    width: 100%;
    margin-top: 26px;
}

.blog-sidebar-itm--img {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 8px;
}

.blog-sidebar-itm--img img {
    width: 100% ;
    height: inherit;
    object-fit: cover;
}

.blog-sidebar-imt--text {
    width: 78%;
}

.sidebar-subscribe {
    margin: 40px 0;
}

.sidebar-title__sub {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
}

.btn-sidebar {
    width: 100%;
    margin-top: 25px;
}

.sidebar-insta {
    margin: 40px 0;
}

.sidebar-insta-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 18px;
}

.sidebar-insta-itm {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.sidebar-insta-itm img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}


.sidebar-text {
    text-align: center;
    margin: 20px 0;
}

.sidebar-text .btn {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
}
/*open article page*/

.page-main-content {
    padding: 18px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.open-art-img {
    margin: 30px 0;
}

.open-art-img img {
    width: 100%;
}

.open-art-text {
    font-size: 16px;
}

.open-art-text__bold {
    font-weight: 600;
}

/*comments*/

.comments-block {
    padding: 20px 18px 50px 18px;
    margin-bottom: 50px;
}

.comments-title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 50px;
}

.comments-arr {
    margin-bottom: 50px;
}

.comment-itm {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.comment-itm:last-child {
    margin-bottom: 0;
}

.comments-img {
    width: 77px;
    height: 77px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.comments-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.comments-text {
    width: 90%;
    margin-left: 25px;
}

.comments-name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.comments-msg {
    font-size: 16px;
}

.comments-send {
    display: flex;
    flex-direction: column;
}

.comments-send .btn {
    align-self: flex-end;
}

.comments-msg--send {
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #808080;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    resize: none;
    outline: none;
}

.comments-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.p-author {
    display: flex;
    align-items: flex-start;
}

.p-author-info {
    margin-left: 25px;
}

.comments-footer--title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px;
}

.p-author-info--name {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 5px;
}

.p-author-info--date {
    font-size: 14px;
    font-weight: 300;
}

.p-author-img {
    width: 96px;
    height: 96px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
}

.p-author-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.comments-footer-share .footer-share {
    margin-top: 15px;
}

.comments-footer-share .share-item {
    color: #fff;
}

.share-item__fb {
    background-color: #3b5998;
}

.share-item__inst {
    background-color: #6a453b;
}

.share-item__twit {
    background-color: #55acee;
}

.share-item__you {
    background-color: #c4302b;
}

/*search list*/

.search-result-list {
    padding: 18px;
}

.search-itm {
    display: flex;
    height: 260px;
    margin-bottom: 50px;
    color: #000;
}

.search-itm:hover,
.search-itm:visited,
.search-itm:focus {
    text-decoration: none;
    color: inherit;
}

.search-itm:last-child {
    margin-bottom: 0;
}

.search-itm--img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    width: 50%;
}

.search-itm--img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.search-itm--info {
    margin-left: 25px;
    width: 50%;
}

.search-itm--info__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.search-itm--info__text {
    font-size: 16px;
    font-weight: 300;
}

.big-subscribe {
    background: url("../assets/images/search-result-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.big-sub-content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    margin: 80px 0;
}

.big-sub-info {
    color: #fff;
    width: 50%;
}

.big-sub-info--title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.big-sub-info--text {
    font-size: 18px;
}

.big-sub-from {
    width: 30%;
    padding: 24px 18px;
    background-color: #fff;
}

.big-sub-from--title {
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 10px 0 20px 0;
}

.big-sub-from--input {
    margin: 10px 0;
}

.big-sub-from .btn {
    margin-top: 15px;
    width: 100%;
}

.top-place-itm {
    margin-bottom: 50px;
}

.top-place-itm:last-child {
    margin-bottom: 20px;
}

.top-place-itm--name {
    display: flex;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.top-place-itm--sub {
    display: flex;
    font-size: 18px;
}

.top-place-itm--name__num,
.top-place-itm--sub__name{
    margin-right: 0.5ch;
}

.top-place-itm--sub__val {
    font-weight: 600;
}

.top-place-itm--img {
    margin: 15px 0 20px 0;
}

.top-place-itm--img img {
    width: 100%;
    max-height: 452px;
    object-fit: cover;
}

.top-place-itm--descr {
    font-size: 16px;
}

/*knowledge page*/

.help {
    margin: 50px 0 50px 0;
}

.section-title__help {
    text-align: center;
    margin-bottom: 30px;
}

.imp-item--help {
    margin-bottom: 20px;
}

.imp-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.imp-item-date {
    font-size: 12px;
    font-weight: 300;
}

.imp-counters-wrapper {
    display: flex;
}

.imp-counter {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.imp-counter-icon {
    margin-right: 0.5ch;
    font-size: 15px;
}

.imp-counter--likes__val,
.imp-counter--views__val {
    font-size: 12px;
}

.all-question-btn {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.how-block {
    position: relative;
}

.how-block .btn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.how-block-img img {
    width: 100%;
    height: 420px;
}

.new-articles {
    margin-bottom: 40px;
}

/*slick slider*/
.sl-slider-wrapper {
    display: flex;
    justify-content: center;
    position: relative;
}

.sl-slider {
    margin: 50px 0;
    width: 90%;
}

.sl-slider-itm {
    display: flex !important;
    justify-content: space-between;
    outline: none;
    margin: 0 20px;
}

.sl-slider-itm--info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
}

.sl-slider-itm--img {
    width: 50%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.sl-slider-itm--img img {
    width: 100%;
    height: 340px;
    object-fit: cover;
}

.sl-slider-itm--info__title {
    font-size: 32px;
    font-weight: 500;
}

.sl-slider-itm--info__text {
    font-size: 20px;
    font-weight: 400;
}

.sl-slider-control {
    position: absolute;
    width: 100%;
    top: 45%;
}

.sl-slider-control div {
    width: 24px;
    height: 45px;
    background: url("../assets/images/control-arrow-clr.png") center no-repeat;
    position: absolute;
    cursor: pointer;
}

.sl-prev{
    left: 0;
}

.sl-next {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    right: 0;
}

/*sign in*/
.sign-section {
    display: flex;
    height: calc(100vh - 160px);
}

.sign-content {
    padding: 80px 50px;
}

.sign-img {
    width: 50%;
    position: relative;
    height: inherit;
}

.sign-img img {
    width: 100%;
    height: inherit;
    object-fit: cover;
}

.sign-title {
    display: flex;
    align-items: center;
}

.sign-separator {
    margin: 0 1ch;
    font-size: 18px;
    font-weight: 300;
}

.sing-link {
    font-size: 28px;
    font-weight: 700;
    color: #000;
}

.sing-link:hover {
    color: #8c93e4;
    text-decoration: none;
}

.sing-link.active {
    color: #8c93e4;
}

.sign-form .form-element {
    margin: 10px 0;
}

.pass-save-wrapper {
    display: flex;
    align-self: center;
}

.new-chb {
    width: 14px;
    height: 14px;
    border: 1px solid #bfbfbf;
    background-color: #fff;
}

.new-chb:hover {
    background-color: #ebebeb;
}

.remember-pass {
    font-size: 14px;
    margin-left: 10px;
}

.pass-save {
    margin: 3px 3px 0 0;
}

.sign-form-send {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.sign-form-send .btn{
    width: 50%;
}

.btn.btn-facebook {
    width: 40px;
}

.pass-forgot {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 300;
    margin-top: 15px;
}

/*location page*/

.map {
    margin-top: 10vh;
}

.map-title {
    font-size: 48px;
    font-weight: 700;
    color: #305491;
}

.map-title__sub {
    font-size: 20px;
    font-weight: 400;
}

.map-image img {
    width: 100%;
}

.world-list {
    min-height: 150px;
}

.world-list-title {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 20px;
    color: #305491;
}

.world-list-itm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #305491;
}

.world-list-itm:hover {
    text-decoration: none;
    color: inherit;
}

.world-list-itm--name {
    font-size: 16px;
}

.world-list-itm--lang {
    font-size: 12px;
}

.world-list-itm.current {
    font-weight: 600;
}

.world-list-itm.current:hover {
    color: inherit;
}

/*Contacts*/

.header__min--img {
    height: 30vh;
    background: url("../assets/images/contacts-bg.jpg") center no-repeat;
    background-size: cover;
    position: relative;
}

.mask__dark {
    background-color: #2e3351;
}

.contacts-block {
    margin: 20px 0;
}

.contact-form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-form-title {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.form-element__contact {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.contact-form .msg-field {
    resize: none;
}

.contact-form .btn {
    width: 50%;
}

.info-block {
    margin-bottom: 30px;
}

.info-block__main .info-block-title {
    font-size: 44px;
}

.info-block-title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 15px;
}

.info-block-title__sub {
    font-size: 20px;
    font-weight: 300;
    color: #747e80;
}

.info-block-contacts {
    font-size: 24px;
    font-weight: 500;
    color: #7db9ff;
    margin: 20px 0;
}

.info-block__questions {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.info-question {
    margin: 5px 0;
    font-size: 20px;
    color: #7db9ff;
}

.info-question:hover {
    color: #7db9ff;
    text-decoration: none;
}

/*About page*/

.about-video {
    margin: 40px 0;
}

.about-info-content {
    margin: 120px 0;
}

.about-info-content .app-phone {
    width: 30%;
}

.about-info-content .to-is__app {
    top: 40%
}

.about-info-content .to-pm__app {
    top: 60%
}

.about-info-content .app-text {
    color: #303234;
    font-size: 20px;
    width: 70%;
}

/*categories page*/

.categories-section .page-nav{
    padding: 0;
}

.categories-section .section-title {
    margin: 0;
    text-align: center;
    width: 100%;
}

.categories-nav {
    margin: 60px 0;
    display: flex;
    justify-content: space-evenly;
}

.categories-nav i {
    display: none;
}

.categories-nav-itm {
    text-align: center;
    font-size: 14px;
    width: 16%;
    cursor: pointer;
    background-color: transparent;
    color: #8b94e4;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.categories-nav-itm:hover,
.categories-nav-itm:focus,
.categories-nav-itm.active{
    color: #fff;
    background: linear-gradient(#5b65d8,#8885c5);
    text-decoration: none;
}

.categories-nav__current {
    display: none;
}

.search-result-itm {
    text-decoration: none;
    color: inherit;
}

.search-result-content .imp-text--title__sub{
    height: auto;
    font-size: 12px;
}

.search-result-content .imp-text--title__phone {
    font-size: 13px;
}

.search-result-itm:hover,
.search-result-itm:focus{
    text-decoration: none;
    color: inherit;
}

.categories-section .imp-img {
    height: 130px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.categories-section .imp-img .btn-imp {
    width: 75%;
    font-size: 12px;
    padding: 7px 12px;
}

.categories-section .imp-text {
    padding: 10px;
}

.categories-section .imp-text--title {
    margin-bottom: 5px;
}

.categories-section .search-result-itm {
    margin-bottom: 10px;
    display: block;
    height: 222px;
}


/*resaturant page*/
.page-restaurant .page-nav{
    margin: 20px 0;
    padding: 0;
}


.restaurant-name {
    text-align: center;
}

.restaurant-rating {
    display: flex;
    justify-content: center;
}

.restaurant-rating--text {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    margin-right: 10px;
}

.restaurant-about {
    font-size: 16px;
    margin-bottom: 15px;
}

.restaurant-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.restaurant-gallery-item .imp-img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    height: 220px;
}

.restaurant-gallery-item:hover .imp-mask{
    opacity: 0.8;
}

.restaurant-gallery-item:hover .btn-imp {
    opacity: 1;
}

.restaurant-gallery-item__last .imp-mask{
    opacity: 0.8;
}

.restaurant-gallery-item__last .btn-imp {
    opacity: 1;
}

.restaurant-info {
    margin-top: 100px;
    display: flex;
}

.restaurant-contacts {
    width: 70%;
}

.contacts-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contacts-value-wrapper {
    display: flex;
    flex-direction: column;
}

.contacts-name {
    font-size: 18px;
    font-weight: 500;
    width: 130px;
    margin-right: 50px;
}

.contacts-value {
    font-size: 16px;
    font-weight: 300;
}

.contacts-value-wrapper__social {
    flex-direction: row;
}

.contacts-value-wrapper__social .contacts-value {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    color: #fff;
    margin: 0 7.5px;
}

.contacts-value-wrapper__social .contacts-value:hover {
    text-decoration: none;
}

.contacts-value__facebook {
    background-color: #3b5998;
}

.contacts-value__insta {
    background-color: #6a453b;
}

.contacts-value__twitter {
    background-color: #55acee;
}

.restaurant-vauchers {
    width: 30%;
}

.vauchers-item {
    text-align: center;
    margin-bottom: 25px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px;
    -webkit-box-shadow: 3px 4px 14px -5px #00000054;
    -moz-box-shadow: 3px 4px 14px -5px #00000054;
    box-shadow: 3px 4px 14px -5px #00000054;
}

.vauchers-item-text {
    font-weight: 300;
    font-size: 16px;
}

.vauchers-item-num {
    margin-bottom: 5px;
    background: -webkit-linear-gradient(#5c66d7, #8784c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-size: 18px;
}

.restaurant-offer {
    display: flex;
}

.offer-item {
    width: 300px;
    text-align: center;
    padding: 30px 10px;
}

.offer-item-name {
    font-weight: 600;
    font-size: 18px;
}

.offer-item-price {
    font-size: 32px;
    font-weight: 700;
    background: -webkit-linear-gradient(#5c66d7, #8784c5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 20px 0;
}

.offer-item .btn {
    width: 70%
}

.restaurant-all {
    text-align: center;
    margin: 70px 0;
}

.restaurant-rating--value ul {
    display: flex;
}

.star {
    color: #aab6c7;
}

.star.hover {
    color: #efce4a;
}

.star.selected {
    color: #efce4a;
}
